input {
	padding:5px;
	font-size:1em;
	width:95%;
	filter:invert(100%);
}

body {
	text-align:center;
	font-family:verdana;
	background-color:black;
	color:white;
}

a {
	color:#1fa3ec;
}

button {
	border:0;
	border-radius:0.3em;
	background-color:#1fa3ec;
	color:#fff;
	line-height:2.4em;
	font-size:1.2em;
	width:100%;
	display:block;
}

.q {
	float:right;
}

.s {
	display:inline-block;
	width:14em;
	overflow:hidden;
	text-overflow:ellipsis;
	white-space:nowrap;
}
#wl{
	line-height:1.5em;
}

select {
	width: 100%;
	font-size:100%;
	margin: 10px 0;
	border: solid 2px;

	padding:5px;
	filter:invert(100%);
}

input[type='checkbox'] {
	width:auto;
}

/* main screen columns */
div.col {
  float: left;
  width: 50%;
}

#mainControls:after {
  content: "";
  display: table;
  clear: both;
}

/*fx/pal buttons*/
input[type="radio"] {
  opacity: 0;
  position: fixed;
  width: 0;
}

#mainControls input[type="radio"] + label
{
	border:2px solid #1fa3ec;
	border-radius:0.3em;
	color:#fff;
	line-height:2em;
	font-size:1em;
	width:80%;
	margin: 0.5em;
	padding: 4%;
	display:inline-block;
}
#mainControls input[type="radio"]:checked + label
{
	background-color:#1fa3ec;
}

/* pal gradient*/
label span {
	float:left;
	height:2em;
	width:100%
}
